:root {
    --sm: 1rem;
    --md: 1.4rem;
    --lg: 1.8rem;
    --dark: #212121;
    --light: white;
    --enfasis: #fab700;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
html {
    font-size: 62.5%;
    background-color: #2a2e34;
}

.info-bar{
    position: fixed;
    background-color: var(--dark);
    height: 100vh;
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-bar a{ 
    color: var(--enfasis);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--md);
    transform: rotate(-90deg) translate(-7rem, 0);
}
.info-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.info-bar img:nth-child(1){
    width: 8.4rem;
    height: 3.2rem;
    transform: rotate(-90deg);
    margin-bottom: 4rem;
}
.info-bar img:nth-child(2){
    width: 4rem;
    margin-bottom: 2rem;
}

.content-box{
    display: flex;
}
.info-box{
    background-color: var(--light);
    margin-left: 8rem;
    width: 64%;
    padding: 4rem 0 0 3.6rem;
}
.info-box h3{
    color: var(--enfasis);
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}
.info-box h1{
    font-size: 4rem;
    margin-bottom: 3.6rem;
}
.info-box ul{
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.info-box ul li:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
}
.info-box p{
    font-weight: bold;
    font-size: var(--md);
}
/* AAAAAAAAAAAAAAAAAAAAAAAAAAA */
.nav-bar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 36%;
    background-color: var(--dark);
    color: aliceblue;
}
.nav-bar-item{
    display: flex;
    align-items: center;
    height: 33.33%;
}
.nav-bar-item img{
    height: 4rem;
    margin: 0 1.2rem 0 1.6rem;
    filter: invert();
}
.nav-bar-item:hover{
    background-color: var(--enfasis);
    color: var(--dark);
    cursor: pointer;
}
.nav-bar-item:hover img{
    filter: none;
}

main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    margin: auto;
    width: 80%;
    height: 50rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark);
    color: var(--light);
    width: 60%;
    height: 28rem;
    margin: 1rem;
    border-radius: 0.4rem;
    border: 0.2rem solid var(--enfasis);
    padding: 1.6rem 3.6rem 2.4rem 3.6rem;
    box-shadow: 0.5rem 0.5rem 0 var(--enfasis);
}
.card-discount{
    height: 44rem;
    width: 30rem;
    padding: 1.6rem 4.4rem 2.4rem 4.4rem;
}
.card-discount h2{
    text-align: center;
    font-size: large;
}
.card-cupones{
    width: 30rem;
}
.card-cupones img{
    width: 100%;
}
.card-title{
    display: flex;
}
.card-title img{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}
.card h3{
    font-size: var(--lg);
    text-align: center;
    color: var(--enfasis);
    font-weight: 900;
}
.card p{
    font-size: var(--md);
    text-align: center;
}
.card input{
    background-color: var(--dark);
    width: 100%;
    color: var(--enfasis);
    border: none;
    border: 0.15rem solid var(--enfasis);
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;  
    text-align: center;
}
main form input::placeholder{
    color: var(--light);
    font-size: 1rem;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.card-triangulo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}
main form button{
    background-color: var(--enfasis);
    color:var(--dark);
    font-size: var(--sm);
    font-weight: bold;
    border: 0.2rem solid var(--enfasis);
    padding: 0.4rem 0.8rem ;
    border-radius: 0.6rem;
    width: 100%;
    
}
main form button:hover{
    color: var(--light);
    cursor: pointer;
}
.button-discount, #InputPrice, #InputDiscount, #InputCoupon{
    width: 80%;
}

.cupones div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cupones img{
    width: 3rem;
    margin-right: 1rem;
}

.card-invest{
    width: 60%;
    height: 40rem;
    margin: 8rem auto;
    border-radius: 1.6rem;
}
.invest-title{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    font-size: var(--lg);
    border-bottom: 0.4rem solid var(--enfasis);
}
.invest-content{
    font-size: var(--md);
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 2rem;
}